/* Genel stil */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
html, body {
    overflow-x: hidden;
}
header {
    position: fixed;
    /* Header sabit */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 5px 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
   border: 1px solid black;
   background-color: #134b6d;
    transition: background-color 0.5s ease;
}

header.scrolled {
    background-color: rgba(17, 46, 107, 0.7);

    /* Kaydırınca yarı opak renk */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    /* Menü ortalaması için relative pozisyon */
}

header .logo {
    position: absolute;
    /* Solda sabitlenmiş logo */
}

header .logo img {
    height: 50px;
    /* Yazıdan biraz daha büyük yap */
    width: auto;
    /* Genişliği orantılı ayarla */
    display: inline-block;
    /* İmage’i inline-block yap */
    vertical-align: middle;
    /* Üstten ve alttan ortala */
    margin-left: auto;
    /* Soldan boşluk için */
}



/* Menü ortada yer alacak */
nav {
    flex-grow: 1;
    /* Menü ortada olacak şekilde genişlik sağlar */
    display: flex;
    justify-content: center;
    /* Menüyü ortalar */
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 10px;

}

nav ul li a {

    color: #fff6f6;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;


    transition: color 0.4s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul li a:hover {
    color: #b61515;
}

/* Ana içerik tam ortada yer alacak */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Sayfa yüksekliği boyunca ortalanmış */
    font-size: 13px;
    color: #fff;
    text-align: center;
}


/* Header düzeni */


/* Menü tamamen sağa yaslanacak */

/* Hamburger menü sağa yaslanacak */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-left: auto; /* Hamburger menüyü sağa yaslar */
}

/* Hamburger menü ikonlarının tasarımı */
.hamburger span {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Hamburger aktifken ikon animasyonu */
.hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}
@media (max-width: 1024px) { /* Mobil ve küçük tabletler için genişletildi */
   header
   {
   padding: 50px;
    height: 5vw;
   }
    nav ul {
        
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: rgba(129, 125, 125, 0.9);
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 10;
    }

    nav ul.active {
        display: flex;
    }

    header .container {
        justify-content: space-around;
    }

    .hamburger {
        display: flex;
        z-index: 20;
        margin-right: 20px;
    }
}

/* Küçük ekranlar için menü ve hamburger stilleri */
@media (max-width: 768px) {
    header
    {
    padding: 50px;
     height: 10vw;
    }
    nav ul {
        display: none;
        /* Menü başlangıçta gizli */
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: rgba(129, 125, 125, 0.9);
        position: absolute;
        top: 60px;
        right: 0;
        /* Menü sağdan açılacak */
        z-index: 10;
    }

    nav ul.active {
        display: flex;
        /* Hamburger butonuna tıklandığında menü görünsün */
    }
    header .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: relative;
        /* Menü ortalaması için relative pozisyon */
    }
    .hamburger {
        display: flex;
        /* Ekran küçüldüğünde hamburger menü görünsün */
        z-index: 20; /* Hamburger menüsünün menünün arkasına gitmesini önlemek için */
        margin-right: 20px; /* Ekran küçüldüğünde sağa yaslanmış olur */
    }
}
@media (max-width: 600px) { 
    header
    {
    padding: 50px;
     height: 10vw;
    }
    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: rgba(129, 125, 125, 0.9);
        position: absolute;
        top: 50px; /* Daha küçük ekranlarda konumu biraz aşağıya çek */
        right: 0;
        z-index: 10;
    }

    nav ul.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        z-index: 20;
        width: 25px; /* Daha küçük ikon boyutu */
        height: 20px; /* Küçük ekranlar için boyut ayarlaması */
        margin-right: 15px; /* Sağdan biraz daha fazla boşluk bırak */
    }

    .hamburger span {
        height: 3px; /* Çubukların kalınlığı daha ince */
    }
}



/* İçerik düzeni */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 20px;
}

/* Sol taraftaki metin alanı */
.content {
    flex: 2;
    padding-right: 20px;
}

#akuTitle {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5rem;
}

#akuDescription,
#akuExtraInfo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Sağ taraftaki resim */
.image-container {
    flex: 1;
    margin-top: 5rem;
}

#akuImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Tablo stil */
table {
    width: 100%; /* Header genişliğine uyum sağlar */
    max-width: 1000px; /* Daha küçük bir maksimum genişlik belirle */
    height: auto; /* Yükseklik, içeriğe göre otomatik ayarlanır */
    margin: 20px auto; /* Üstten daha az boşluk */
    border-collapse: collapse;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Gölgeyi hafiflet */
}

table th,
table td {
    padding: 5px; /* Padding küçültüldü */
    border: 1px solid #ddd;
    text-align: center;
    font-weight: normal;
    font-size: 10px; /* Yazı boyutu küçültüldü */
}

table th {
    background-color: #0C4A83;
    color: white;
    font-weight: bold;
}

table td:first-child(even) {
    font-weight: bold;
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Starter Table */
#starter_table {
    width: 100%;
    /* Genişliği %100 olarak ayarla */
}

/* Magic HR Table */
#magic_hr_table {
    width: 100%;
}

/* Traksiyoner Table */
#traksiyoner_table {
    width: 100%;
}

#traksiyoner_table th,
#traksiyoner_table td {
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 11px;
}

/* Monoblock Table */
#monoblock_table {
    width: 100%;
}

/* Stasyoner Table */
#stasyoner_table {
    width: 100%;
}

/* Stasyoner Alternatif Table */
#stasyoner_table_alt {
    width: 100%;
}




.footer {
    background: #252129;
    padding: 50px 20px;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-top: 3px solid rgba(255, 255, 255, 0.1);
}

.cert-images {
    display: flex;
    flex-direction: column;
    /* Alt alta yerleştirmek için */
    align-items: center;
    /* Görselleri ortalamak için */
    margin-top: 10px;
}

.cert-images a {
    margin-bottom: 15px;
    /* Görseller arasında boşluk */
}

.cert-images img {
    width: 100px;
    /* Görsel genişliği */
    height: auto;
    /* Yükseklik otomatik */
    cursor: pointer;
}


/* Footer İç Konteyner */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Esnek yapıda yan yana dizilsin */
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-bottom: 30px;
    gap: 20px; /* Sütunlar arasında boşluk */
}

/* Footer Kolonlar */
.footer-col {
    flex: 1;
    min-width: 250px; /* Minimum genişlik ayarlayarak taşmayı engelleriz */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0 20px;
}

/* Başlıklar */
.footer-col h4 {
    font-size: 1rem;
    /* Başlık boyutunu küçülttük */
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    /* İkon ile başlık arasına boşluk */
}

/* Metinler */
.footer-col p {
    margin: 5px 0;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 8px;
    /* İkon ile metin arasına boşluk */
}

.contact-info p {
    text-align: left;
}

/* Hızlı Menüler */
.quick-links .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick-links .nav-links li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    /* İkon ile link arasına boşluk */
}

.quick-links .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.quick-links .nav-links li a:hover {
    color: #ffa726;
    /* Hover sırasında rengi değiştir */
}

/* Sosyal Medya İkonları */
.follow-us .icons {
    display: flex;
    gap: 15px;
}

.follow-us .icons i {
    font-size: 1.5rem;
    color: #afb6c7;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}


/* Facebook hover rengi */
.footer-col .icons .fa-facebook-f:hover {
    color: #3b5998;
    /* Facebook mavi rengi */
}

/* Twitter hover rengi */
.footer-col .icons .fa-twitter:hover {
    color: #1da1f2;
    /* Twitter mavi rengi */
}


/* Instagram hover rengi */
.footer-col .icons .fa-instagram:hover {
    color: #e4405f;
    /* Instagram pembe-kırmızı rengi */
}

/* WhatsApp hover rengi */
.footer-col .icons .fa-whatsapp:hover {
    color: #25d366;
    /* WhatsApp yeşil rengi */
}

/* Footer Alt Kısım */
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.footer-divider {
    width: 100%;
    height: 3px;
    background: #1b1b1b;
    /* Daha koyu çizgi */
    border: none;
    margin-bottom: 20px;
}

.footer-logo {
    position: absolute;
    left: 20px;
    bottom: -35px;
    /* Çizginin altına alır */
}

.footer-logo h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    transition: color 0.3s ease;
}

.footer-logo h1:hover {
    color: #ffa726;
    /* Hover sırasında rengi değiştir */
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-col {
        width: 100%;
        margin-bottom: 20px;
    }

    .cert-images img {
        width: 70px;
    }

    .footer-logo h1 {
        font-size: 2rem;
    }
}

/* Daha büyük ekranlarda footer sütunlarının yan yana gelmesi */
@media (min-width: 769px) {
    .footer-container {
        flex-direction: row; /* Sütunları yan yana diz */
        justify-content: space-between; /* Aralarında boşluk bırak */
        gap: 40px; /* Sütunlar arasında mesafe */
    }

    .footer-col {
        flex: 1;
        max-width: calc(33% - 40px); /* Her bir sütuna genişlik verip aralarında boşluk bırak */
        margin-bottom: 0; /* Yan yana olduğunda alt boşluk kaldır */
    }
}